
DirectoryIndex index.html index.php

### Сжать ответ сервера для перечисленных MIME типов
<ifModule mod_deflate.c>
  <IfModule mod_filter.c>
      AddOutputFilterByType DEFLATE text/plain text/html
      AddOutputFilterByType DEFLATE text/css
      AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
      AddOutputFilterByType DEFLATE text/xml application/xml application/xhtml+xml application/rss+xml
      AddOutputFilterByType DEFLATE application/json
      AddOutputFilterByType DEFLATE application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon
  </ifModule>
</ifModule>

### Подсказать браузеру схему кеширования через заголовки в ответе сервера
<IfModule mod_expires.c>
    # Enable expires
    ExpiresActive  On

    # Default a cache expiration
    ExpiresDefault                        "access plus 10 month"

    # Images
    ExpiresByType image/gif                "access plus 1 month"
    ExpiresByType image/png                "access plus 1 month"
    ExpiresByType image/jpg                "access plus 1 month"
    ExpiresByType image/jpeg               "access plus 1 month"

    # CSS, JavaScript
    ExpiresByType text/css                 "access plus 1 month"
    ExpiresByType application/javascript   "access plus 1 month"
    ExpiresByType text/javascript          "access plus 1 month"
</IfModule>

### Удалить заголовок ETag (иначе есть проблемы с кешированием при включенном сжатии)
<IfModule mod_headers.c>
    Header unset ETag
</IfModule>
FileETag None

RewriteEngine on

# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise forward it to index.php
RewriteRule . index.php
